@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700,100&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

li{
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  position: relative;
  margin:0 10px 50px;
}

li::before{
  content: attr(data-time);
  display: block;
  position: absolute;
  left: 5px;
  bottom: -20px;
  color: #fff;
}
.videos{
  display: flex;
  padding: 0 10vw;
  flex-wrap: wrap;
}
.totalContainer{
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}